aiofiles
async-generator
async-timeout
attrs
beautifulsoup4
certifi
cffi
chardet
dataclass-factory
feedparser
h11
html2markdown
httpcore
httpx
idna
multidict
numpy
outcome
pycparser
pydub
rfc3986
sgmllib3k
sniffio
sortedcontainers
soupsieve
trio
typing-extensions
ujson
yarl
